if $yoyoDefaults["typography"]["useCustomFonts"] is true
	@require "custom-fonts"

if $yoyoDefaults["typography"]["useHeadings"] is true
	@require "headings"

if $yoyoDefaults["typography"]["useLede"] is true
	@require "lede"

if $yoyoDefaults["typography"]["useLists"] is true
	@require "lists"

if $yoyoDefaults["typography"]["useMain"] is true
	@require "main"
