if $hako["use"]["typography"]["base"] is true
	em
	i
		font-style italic

	sub
	sup
		font-size 75%

	code
		font-family monospace

	abbr
	acronym
		&[title]
			text-transform uppercase
			cursor help

	abbr
		text-transform none

	dfn
		font-style normal

	a
		word-wrap break-word
