if $yoyoTypography["useLocalFonts"] == true
	$customFonts = $yoyoTypography["customFonts"]

	if typeof($customFonts) is "object"
		for $key, $font in $customFonts

			$name = $font["name"]
			$weight = $font["weight"]
			$style = $font["style"]
			$location = $font["location"]
			$types = "types" in $font ? $font["types"] : woff2 woff ttf

			@font-face
				font-family $name if $name
				font-weight $weight if $weight
				font-style $style if $style

				$srcs = ()

				if $name and $location
					for $type in $types
						$format = ""

						if $type == "otf"
							$format = "opentype"
						else if $type == "woff2"
							$format = "woff2"
						else if $type == "woff"
							$format = "woff"
						else if $type == "ttf"
							$format = "truetype"

						push($srcs, unquote("url('" + $location + $name + "." + $type + "') format('" + $format + "')"))

				src unquote(join(",", $srcs)) if length($srcs) > 0
