@require "headings"

if "h2" in $hako["typography"]
	h2
	.beta
		hako-typography($hako["typography"]["h2"])

else if "beta" in $hako["typography"]
	.beta
		hako-typography($hako["typography"]["beta"])
