@require "headings"

if "h5" in $hako["typography"]
	h5
	.epsilon
		hako-typography($hako["typography"]["h5"])

else if "epsilon" in $hako["typography"]
	.epsilon
		hako-typography($hako["typography"]["epsilon"])
