if "h1" in $yoyoTypography
	h1
	.alpha
		style-typography($yoyoTypography["h1"])

else if "alpha" in $yoyoTypography
	.alpha
		style-typography($yoyoTypography["alpha"])

if "h2" in $yoyoTypography
	h2
	.beta
		style-typography($yoyoTypography["h2"])

else if "beta" in $yoyoTypography
	.beta
		style-typography($yoyoTypography["beta"])

if "h3" in $yoyoTypography
	h3
	.gamma
		style-typography($yoyoTypography["h3"])

else if "gamma" in $yoyoTypography
	.gamma
		style-typography($yoyoTypography["gamma"])

if "h4" in $yoyoTypography
	h4
	.delta
		style-typography($yoyoTypography["h4"])

else if "delta" in $yoyoTypography
	.delta
		style-typography($yoyoTypography["delta"])

if "h5" in $yoyoTypography
	h5
	.epsilon
		style-typography($yoyoTypography["h5"])

else if "epsilon" in $yoyoTypography
	.epsilon
		style-typography($yoyoTypography["epsilon"])

if "h6" in $yoyoTypography
	h6
	.zeta
		style-typography($yoyoTypography["h6"])

else if "zeta" in $yoyoTypography
	.zeta
		style-typography($yoyoTypography["zeta"])

if "tera" in $yoyoTypography
	.tera
		style-typography($yoyoTypography["tera"])

if "giga" in $yoyoTypography
	.giga
		style-typography($yoyoTypography["giga"])

if "mega" in $yoyoTypography
	.mega
		style-typography($yoyoTypography["mega"])

if "kilo" in $yoyoTypography
	.kilo
		style-typography($yoyoTypography["kilo"])
