h1
h2
h3
h4
h5
h6
	if $hako["use"]["typography"]["headings"] is true
		if "headings" in $hako["typography"]
			hako-typography($hako["typography"]["headings"])
			
		&:first-child
			margin-top 0

		&:last-child
			margin-bottom 0
