if "ul" in $yoyoTypography or "ol" in $yoyoTypography
	ol
	ul
		list-style-position outside

	li
		&:last-child
			margin-bottom 0


for $list in "ul" "ol"
	if $list in $yoyoTypography
		$config = $yoyoTypography[$list]

		{$list}
			padding $config["padding"] if "padding" in $config
			margin $config["margin"] if "margin" in $config

			if "li" in $config
				$li = $config["li"]

				li
					padding $li["padding"] if "padding" in $li
					margin $li["margin"] if "margin" in $li

					ul
					ol
						margin-bottom 0

