@require "headings"
@require "h1"
@require "h2"
@require "h3"
@require "h4"
@require "h5"
@require "h6"

if $hako["use"]["typography"]["headings"] is true and "mega" in $hako["typography"]
	.mega
		hako-typography($hako["typography"]["mega"])
