:root
	box-sizing border-box

html
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

*
	&
	&:before
	&:after
		box-sizing inherit

html
body
img
abbr
acronym
	border 0

h1
h2
h3
h4
h5
h6
	font-size 100%
	font-weight normal

th
code
cite
caption
	font-weight normal
	font-style normal
	text-align left

address
	font-style normal

input:focus
input[type="search"]:focus
	outline-offset -2px

input[type="search"]
	appearance none
	box-sizing border-box

img
video
	max-width 100%

img
	object-fit cover

	&[width][height]
		height auto