if $hako["use"]["layout"]["globalLayout"] is true
	html
	body
		position relative
		min-height 100% if $hako["browser"]["isIe8"] is true
		min-height 100vh unless $hako["browser"]["isIe8"] is true

	html
		overflow-y scroll
