if $yoyoDefaults["helpers"]["useFauxLink"] is true
	@require "faux-link"

if $yoyoDefaults["helpers"]["useLinkComplex"] is true
	@require "link-complex"

if $yoyoDefaults["helpers"]["useMedia"] is true
	@require "media"
