@require "../utility/layout"

if $hako["use"]["molecules"]["fauxLink"] is true
	.has-faux-link
		position relative

	.faux-link
		z-index 10
		cursor pointer
		outline-width 0

		hako-absolute-fill()
