@require "../utility/interaction"

if $hako["use"]["molecules"]["linkComplex"] is true
	.link-complex
		text-decoration none

		+hako-interaction()
			.link-complex__target
				text-decoration underline
