if $hako["use"]["molecules"]["media"] is true
	.media
		$root = selector()

		&
		&__body
			overflow hidden

		&:not({$root}--rev)
			{$root}__image,
			> img
				float left

		&--rev
			{$root}__image,
			> img
				float right

		img
			display block
