@require "block"

hako-visuallyhidden()
	position absolute
	overflow hidden
	padding 0
	width 1px
	height 1px
	margin -1px
	border 0
	clip rect(0, 0, 0, 0)

hako-visuallyshow()
	position static
	overflow visible
	width auto
	height auto
	margin 0
	clip auto

hako-no-js($block = false)
	html.no-js &
		+hako-apply-block($block)
			{block}

hako-js-only($block = false)
	html:not(.no-js) &
		+hako-apply-block($block)
			{block}
