@require "feature"
@require "layout"

hako-aspect-ratio($ratio)
	position relative
	overflow hidden

	&:after
		content ""

		display block
		height 0
		padding-bottom $ratio

hako-fit-in-element()
	width auto
	height auto
	max-width 125%
	min-width 100%
	min-height 100%

	hako-center-x-y()

	+hako-supports("(object-fit: cover)")
		position absolute
		top 0
		left 0
		max-width 100%
		max-height 100%

		transform none

hako-media-ratio($ratio, $mediaType, $fit = false)
	$fit = cover if $fit is true

	hako-aspect-ratio($ratio)

	{$mediaType}
		object-fit $fit unless $fit is false

		hako-fit-in-element($ratio)

hako-image-ratio($ratio, $fit = false)
	hako-media-ratio($ratio, "img, figure", $fit)

hako-video-ratio($ratio, $fit = false)
	hako-media-ratio($ratio, "video", $fit)
