ie8()
	if $isIe8
		{block}

not-ie8()
	if !$isIe8
		{block}

ie9()
	if $isIe9
		{block}

not-ie9()
	if !$isIe9
		{block}

below-ie10()
	+ie8()
		{block}

	+ie9()
		{block}

above-ie9()
	+not-ie9()
		{block}
