@require "block"
@require "breakpoints"
@require "browser-targeting"

hako-has-hover($block = false, $hover = "hover")
	@media (hover unquote($hover))
		+hako-apply-block($block)
			{block}

hako-no-hover($block = false)
	+hako-has-hover($block, "none")
		{block}

hako-supports($expression, $forIe = false, $block = false)
	@supports unquote($expression)
		+hako-apply-block($block)
			{block}

	if $forIe is true or $forIe is "10+"
		if $forIe is true
			+hako-below-ie10($block)
				{block}

		+hako-above-ie9($block)
			{block}

	else if $forIe is "11"
		+hako-ie11($block)
			{block}

	else if $forIe is "10-"
		+hako-below-ie11($block)
			{block}

	else if $forIe is "10"
		+hako-ie10($block)
			{block}

	else if $forIe is "9-"
		+hako-below-ie10($block)
			{block}

	else if $forIe is "9"
		+hako-ie9($block)
			{block}

	else if $forIe is "8"
		+hako-ie8($block)
			{block}
