@require "breakpoints"
@require "browser-targeting"
@require "unit"

-hako-get-grid-width($columnWidth)
	$columnWidth = $hako["layout"]["columns"] if $columnWidth < 1 or $columnWidth > $hako["layout"]["columns"]

	return ($columnWidth / $hako["layout"]["columns"]) * 100%

hako-grid()
	$gutter = $hako["layout"]["gutter"]
	$halfGutter = $gutter / 2

	/**
	 * Doesn't use width 100% as the negative
	 * margins will affect the overall width.
	 */
	min-width 100%

	if $hako["browser"]["supportIe8"] is true
		margin-right -hako-negative($halfGutter)
		margin-left -hako-negative($halfGutter)
	else
		margin-left -hako-negative($gutter)

	+hako-below-ie10()
		clear both

		font-size 0

	+hako-above-ie9()
		display flex
		flex-wrap wrap

hako-grid-column($configs...)
	$gutter = $hako["layout"]["gutter"]
	$halfGutter = $gutter / 2

	width 100%

	if $hako["browser"]["supportIe8"] is true
		padding-right $halfGutter
		padding-left $halfGutter
	else
		margin-left $gutter

	+hako-below-ie10()
		display inline-block
		vertical-align top
		font-size $baseFontSize

	+hako-above-ie9()
		float left

	if $configs
		for $config in $configs
			$columns = $config["columns"]

			if $columns
				$width = -hako-get-grid-width($columns)
				$forIe8 = $config["ie8"] || false

				if $width
					if $hako["browser"]["supportIe8"] is false
						$width = unquote("calc(" + $width + " - " + $gutter + ")")

					if "at" in $config
						$at = $config["at"]

						+hako-at-bp($at)
							width $width

					else if "below" in $config or ("to" in $config && !("from" in $config))
						$below = $config["below"] if "below" in $config
						$below ?= $config["to"]

						+hako-below-bp($below, $forIe8)
							width $width

					else if "from" in $config
						$from = $config["from"]

						if "to" in $config
							$to = $config["to"]

							+hako-between-bp($from, $to, $forIe8)
								width $width

						else
							+hako-from-bp($from, $forIe8)
								width $width

					else
						width $width
