@require "breakpoints"
@require "browser-targeting"
@require "unit"

-hako-get-grid-width($columnWidth)
	$columnWidth = $hako["layout"]["columns"] if $columnWidth < 1 or $columnWidth > $hako["layout"]["columns"]

	return ($columnWidth / $hako["layout"]["columns"]) * 100%

hako-grid($config = {})
	$config = {} if typeof($config) is not "object"
	$gutter = $hako["layout"]["gutter"]
	$halfGutter = $gutter / 2

	/**
	 * Doesn't use width 100% as the negative
	 * margins will affect the overall width.
	 */
	display flex
	flex-wrap wrap
	min-width 100%

	if $config["columnGap"] is not false
		if $hako["browser"]["supportIe8"] is true
			margin-right -hako-negative($halfGutter)
			margin-left -hako-negative($halfGutter)
		else
			margin-left -hako-negative($gutter)

	if $config["rowGap"] is true
		margin-top -hako-negative($gutter)

	if "columnConfig" in $config
		$columnConfig = $config["columnConfig"]
		$selector = $columnConfig["selector"]
		$columns = $columnConfig["columns"]

		if typeof($selector) is "string"
			{$selector}
				hako-grid-column({ columnGap: $config["columnGap"], rowGap: $config["rowGap"] }, $columns)

	+hako-below-ie10()
		clear both

		font-size 0

hako-grid-column()
	$gutter = $hako["layout"]["gutter"]
	$halfGutter = $gutter / 2
	$isColConfig = typeof(arguments[0]) is "object" and ("columnGap" in arguments[0] or "rowGap" in arguments[0])
	$addColumnGap = true
	$addRowGap = false

	+hako-below-ie10()
		display inline-block
		vertical-align top
		font-size $baseFontSize

	+hako-above-ie9()
		float left

	if $isColConfig
		$colConfig = arguments[0]
		$addColumnGap = $colConfig["columnGap"] is not false
		$addRowGap = $colConfig["rowGap"] is true

	if $addColumnGap is true
		if $hako["browser"]["supportIe8"] is true
			padding-right $halfGutter
			padding-left $halfGutter
		else
			margin-left $gutter

	if $addRowGap is true
		margin-top $gutter


	for $config, $key in arguments
		if typeof($config) is "object"
			$columns = $config["columns"]

			if "columns" in $config is false
				for $colConfig in $config
					if typeof($colConfig) is "object"
						hako-grid-column({ columnGap: false }, $colConfig)
			else
				$columns = $config["columns"]
				$width = -hako-get-grid-width($columns)
				$forIe8 = $config["ie8"] || false

				if $width
					if $hako["browser"]["supportIe8"] is false
						$width = unquote("calc(" + $width + " - " + $gutter + ")")

					if "at" in $config
						$at = $config["at"]

						+hako-at-bp($at)
							width $width

					else if "to" in $config and !("from" in $config)
						$to = $config["to"]

						+hako-to-bp($config["to"], $forIe8)
							width $width

					else if "from" in $config
						$from = $config["from"]

						if "to" in $config
							$to = $config["to"]

							+hako-between-bp($from, $to, $forIe8)
								width $width

						else
							+hako-from-bp($from, $forIe8)
								width $width

					else
						width $width
