@require "block"

hako-interaction($block = false)
	&:hover
	&:focus
		+hako-apply-block($block)
			{block}

hako-focus($block = false)
	&:focus
		+hako-apply-block($block)
			{block}

hako-not-focus($block = false)
	&:not(:focus)
		+hako-apply-block($block)
			{block}

hako-faux-hover($whenTarget = false, $block = false)
	$selector = selector()
	$selector += ".faux-link-target" if $whenTarget is not false

	/.faux-link
		+hako-interaction()
			~ {$selector}
			~ * {$selector}
				+hako-apply-block($block)
					{block}

hako-interaction-faux-hover($whenTarget = false, $block = false)
	+hako-interaction($block)
		{block}

	+hako-faux-hover($whenTarget, $block)
		{block}
