-hako-assign($hash1, $hash2)
	if typeof($hash1) is "object" and typeof($hash2) is "object"
		for $key, $value in $hash2
			if typeof($value) is "object"
				$hash1[$key] = -hako-assign($hash1[$key], $value)
			else
				$hash1[$key] = $value

	return $hash1 if $hash1
	return $hash2
