@require "object"

-hako-default-settings($hash, $defaults = {})
	$hash = {} if typeof($hash) is not "object"
	$defaults = {} if typeof($defaults) is not "object"

	for $key, $value in $defaults
		if typeof($value) is "object"
			$hash[$key] = -hako-default-settings($hash[$key], $value)
		else if $key in $hash is false
			$hash[$key] = $value

	return $hash
