-hako-is-unit($value, $unit)
	return unit($value) is $unit if $value is a "unit"
	return $unit

-hako-em($value, $base = 16)
	return unit($value / $base, "em") if -hako-is-unit($value, "px")
	return $value

-hako-rem($value, $base = 16)
	return unit($value / $base, "rem") if -hako-is-unit($value, "px") is true
	return $value

-hako-unitless-lineheight($value, $pxValue)
	return round($value / $pxValue, 2)

-hako-negative($value)
	return $value * -1

-hako-percentage($decimal)
	if typeof($decimal) is "unit"
		$percentage = $decimal * 100%

		return $percentage if -hako-is-unit($percentage, "%")
		​
	return $decimal
