if "date" in $yoyoForms
	[type="date"]
	[type="datetime"]
	[type="datetime-local"]
	[type="month"]
	[type="week"]
	[type="time"]
		$dateOptions = $yoyoForms["date"]

		display block
		width 100%

		padding $dateOptions["padding"] if "padding" in $dateOptions
		margin $dateOptions["margin"] if "margin" in $dateOptions

		border-width $dateOptions["borderWidth"] if "borderWidth" in $dateOptions
		border-style $dateOptions["borderStyle"] if "borderStyle" in $dateOptions
		border-width $dateOptions["borderWidth"] if "borderWidth" in $dateOptions
		border-radius $dateOptions["borderRadius"] if "borderRadius" in $dateOptions

		background-color $dateOptions["backgroundColor"] if "backgroundColor" in $dateOptions
		color $dateOptions["color"] if "color" in $dateOptions

		&::-webkit-calendar-picker-indicator
			display none

		if ":hover" in $dateOptions
			$hover = $dateOptions[":hover"]

			&:hover
				border-color $hover["borderColor"] if "borderColor" in $hover

		if ":focus" in $dateOptions
			$focus = $dateOptions[":focus"]

			outline-width 0

			&:focus
				border-color $focus["borderColor"] if "borderColor" in $focus
