if "label" in $hako["forms"]
	label
		$label = $hako["forms"]["label"]

		display block

		cursor pointer

		hako-typography($label)

		&:active
			+ [placeholder]
				&::placeholder
					// This prevents a very quick text flicker when clicking a label
					color transparent !important

		&.label--disabled
			cursor default

		&.label--inline
			display inline-block

			+ input
				display inline-block
				width auto
