if "textInput" in $hako["forms"]
	$text = $hako["forms"]["textInput"]

	[type="password"]
		&::-ms-reveal
			display none

	[type="number"]
		&::-webkit-inner-spin-button
		&::-webkit-outer-spin-button
			display none

	[type="search"]
		&::-webkit-clear-button
			display none

	[type="text"]
	[type="password"]
	[type="email"]
	[type="search"]
	[type="url"]
	[type="number"]
	[type="tel"]
	textarea
		appearance none

		display block
		width 100%

		padding $text["padding"] if "padding" in $text
		margin $text["margin"] if "margin" in $text

		border-width $text["borderWidth"] if "borderWidth" in $text
		border-radius $text["borderRadius"] if "borderRadius" in $text
		border-style $text["borderStyle"] if "borderStyle" in $text
		border-color $text["borderColor"] if "borderColor" in $text

		background-color $text["backgroundColor"] if "backgroundColor" in $text
		color $text["color"] if "color" in $text

		&::-ms-clear
			display none

		if ":focus" in $text
			$focus = $text[":focus"]

			&:not([readonly]):not(:disabled)
				outline-width 0

				&:focus
					border-color $focus["borderColor"] if "borderColor" in $focus

					background-color $focus["backgroundColor"] if "backgroundColor" in $focus
					color $focus["color"] if "color" in $focus


		if "readonly" in $text
			$readOnly = $text["readonly"]

			&[readonly]
				border-color $readOnly["borderColor"] if "borderColor" in $readOnly
				cursor $readOnly["cursor"] if "cursor" in $readOnly

				background $readOnly["backgroundColor"] if "backgroundColor" in $readOnly
				color $readOnly["color"] if "color" in $readOnly

		if ":disabled" in $text
			$disabled = $text[":disabled"]

			&:disabled
				border-color $disabled["borderColor"] if "borderColor" in $disabled
				cursor $disabled["cursor"] if "cursor" in $disabled

				background-color $disabled["backgroundColor"] if "backgroundColor" in $disabled
				color $disabled["color"] if "color" in $disabled

	textarea
		resize vertical
