@require "headings"
@require "h6"
@require "h5"
@require "h4"
@require "h5"
@require "h2"
@require "h1"
@require "kilo"
@require "mega"

if $hako["use"]["typography"]["headings"] is true and "giga" in $hako["typography"]
	.giga
		hako-typography($hako["typography"]["giga"])
