@require "headings"

if $hako["use"]["typography"]["headings"] is true
	if "h6" in $hako["typography"]
		main h6,
		.zeta
			hako-typography($hako["typography"]["h6"])

	else if "zeta" in $hako["typography"]
		.zeta
			hako-typography($hako["typography"]["zeta"])
