if $hako["use"]["typography"]["hr"] is true and "hr" in $hako["typography"]
	main hr
		$hr = $hako["typography"]["hr"]

		display block
		width $hr["width"] if "width" in $hr
		max-width $hr["maxWidth"] if "maxWidth" in $hr
		min-width $hr["minWidth"] if "minWidth" in $hr
		padding $hr["padding"] if "padding" in $hr
		margin $hr["margin"] if "margin" in $hr
		border-width $hr["borderWidth"] if "borderWidth" in $hr
		border-style $hr["borderStyle"] if "borderStyle" in $hr
		border-color $hr["borderColor"] if "borderColor" in $hr
