if $hako["use"]["typography"]["lists"] is true
	for $list in "ul" "ol"
		if $list in $hako["typography"]
			$config = $hako["typography"][$list]

			{$list}
				main &
					list-style-position $config["listStylePosition"] if "listStylePosition" in $config
					list-style-type $config["listStyleType"] if "listStyleType" in $config

					hako-module-padding($config["padding"]) if "padding" in $config
					hako-module-margin($config["margin"], $removeVerticalSpacing: false) if "margin" in $config

				&:first-child
					margin-top 0

				&:last-child
					margin-bottom 0

				if "li" in $config
					$li = $config["li"]

					li
						main &
							hako-module-padding($li["padding"]) if "padding" in $li
							hako-module-margin($li["margin"], $removeVerticalSpacing: false) if "margin" in $li

						&:first-child
							margin-top 0

						&:last-child
							margin-bottom 0

						ul
						ol
							margin-bottom 0
