@require "namespace"

$hako["breakpoints"] = -hako-default-settings($hako["breakpoints"], {
	emBreakpoints: true
	baseFontSize: 16px
	antiOverlap: -1px
	scale: 0 415px 600px 768px 1024px 1300px 1600px 1920px
	scaleNames: "xs" "s" "smed" "med" "reg" "l" "xl" "hd"
})
