$yoyoBreakpoints ?= {}

$yoyoBreakpoints["emBreakpoints"] = true unless "emBreakpoints" in $yoyoBreakpoints
$yoyoBreakpoints["baseFontSize"] = $baseFontSize unless "baseFontSize" in $yoyoBreakpoints
$yoyoBreakpoints["antiOverlap"] = true unless "antiOverlap" in $yoyoBreakpoints
$yoyoBreakpoints["scale"] = 0 415px 600px 768px 1024px 1300px 1600px 1920px unless "scale" in $yoyoBreakpoints
$yoyoBreakpoints["scaleNames"] = "xs" "s" "smed" "med" "reg" "l" "xl" "hd" unless "scaleNames" in $yoyoBreakpoints
