$yoyoLayout ?= {}

$yoyoLayout["container"] = 1360px unless "container" in $yoyoLayout
$yoyoLayout["innerContainer"] = $yoyoLayout["container"] unless "innerContainer" in $yoyoLayout
$yoyoLayout["columns"] = 12 unless "columns" in $yoyoLayout
$yoyoLayout["gutter"] = 24px unless "gutter" in $yoyoLayout
