$baseFontSize ?= 16px

$yoyoTypography ?= {}
$yoyoTypography["baseFontSize"] = $baseFontSize unless "baseFontSize" in $yoyoTypography
$yoyoTypography["useLocalFonts"] = false unless "useLocalFonts" in $yoyoTypography
$yoyoTypography["ledeSize"] = 1.125 unless "ledeSize" in $yoyoTypography
$yoyoTypography["remify"] = false unless "remify" in $yoyoTypography
