@require "namespace"

$hako["use"] = -hako-default-settings($hako["use"], {
	reset: {
		normalize: false
		extra: false
	}
	helpers: {
		accessibility: false
	}
	layout: {
		globalLayout: false
		containers: false
	}
	typography: {
		a: false
		base: false
		body: false
		customFonts: false
		headings: false
		hr: false
		lede: false
		lists: false
		p: false
		strong: false
	}
	molecules: {
		fauxLink: false
		linkComplex: false
		media: false
	}
})
