@require "namespace"

$hako["use"] = -hako-default-options($hako["use"], {
	reset: {
		normalize: false
		extra: false
	}
	helpers: {
		accessibility: false
	}
	layout: {
		globalLayout: false
		containers: false
	}
	typography: {
		base: false
		customFonts: false
	}
	molecules: {
		fauxLink: false
		linkComplex: false
		media: false
	}
})
