@require "namespace"

$hako["use"] = -hako-default-settings($hako["use"], {
	reset: {
		normalize: false
		extra: false
	}
	helpers: {
		accessibility: false
	}
	layout: {
		globalLayout: false
		containers: false
	}
	typography: {
		a: true
		base: false
		body: true
		customFonts: false
		headings: true
		hr: true
		lede: true
		lists: true
		p: true
		strong: true
	}
	molecules: {
		fauxLink: false
		linkComplex: false
		media: false
	}
})
