if "formField" in $hako["forms"]
	$formField = $hako["forms"]["formField"]

	.form-field
		border $formField["border"] if "border" in $formField
		border-width $formField["borderWidth"] if "borderWidth" in $formField
		border-style $formField["borderStyle"] if "borderStyle" in $formField
		border-color $formField["borderColor"] if "borderColor" in $formField

		hako-module-padding($formField["padding"]) if "padding" in $formField
		hako-module-margin($formField["margin"]) if "margin" in $formField

		&--align-center
			text-align center
			justify-content center // just incase this is a flex item

		&--align-right
			text-align right
			justify-content flex-end // just incase this is a flex item

		&--inline
			display inline-block
